.niceVideo {
  // width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain;
  }
  @media (max-width: 560px) {
    height: auto !important;
  }
}
