* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: black;
  font-family: "SF Pro", "Verdana", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 128px;
  font-weight: 600;
  line-height: 100%;
}

h2 {
  font-size: 40px;
  line-height: 100%;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}
