.styledNavbar {
  background-color: rgba(68, 68, 68, 0.5);
  color: white;
  display: inline-flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 20px;
  backdrop-filter: blur(30px) saturate(2.5);
  border: solid 1px rgba(255, 255, 255, 0.075);
}

.styledLink {
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  padding: 12px 12px;
  font-weight: 500;
  border-radius: 16px;
  background-color: transparent;
  transition: background-color 0.1s ease-out;
&.active, &:hover {
  // color: #0B84FF;
  background-color: rgba(255, 255, 255, 0.1);
}
}

.containerHelper {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  padding-left: 20px;
  z-index: 100;
  margin: auto;
  @media (max-width: 560px) {
    top: unset;
    bottom: 10px;
    padding-left: 0;
  }
  @media (max-width: 956px) {
    text-align: center;
  }
}
